<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Shopping cart · Bootstrap</title>
    <!-- CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

    <!-- jQuery and JS bundle w/ Popper.js -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-ZVYEWN1S98"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-ZVYEWN1S98');
    </script>
</head>
<body>

{% include 'header.html' %}

<div class="container">
    <div class="card-deck mb-3 text-center">
        {% for sku in view.skus %}
            <div class="card mb-4 shadow-sm">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">Sku {{ sku.name }}</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">${{ sku.price }}</h1>
                    <ul class="list-unstyled mt-3 mb-4">
                        <li>{{ sku.price / 5}} users included</li>
                        <li>{{ sku.price / 10}} GB of storage</li>
                    </ul>
                    <a href="{{ view.cart.getUrlForSku(sku) }}" type="button" class="btn btn-lg btn-block btn-outline-primary">Add to cart</a>
                </div>
            </div>
        {% endfor %}
    </div>

    <div class="card-deck mb-3 text-center">
        <h6 class="border-bottom border-gray pb-2 mb-0">Shopping cart</h6>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Item</th>
                <th scope="col">Quantity</th>
                <th scope="col">Price</th>
            </tr>
            </thead>
            <tbody>
            {% if view.cart.items|length > 0 %}
                {% for item in view.cart.items %}
                <tr>
                    <td>{{ item.sku.name }}</td>
                    <td>{{ item.quantity }}</td>
                    <td>${{ item.total }}.00</td>
                </tr>
                {% endfor %}

                {% for cartDiscount in view.cart.discounts %}
                <tr>
                    <td>Discount</td>
                    <td>{{ cartDiscount.name }}</td>
                    <td class="text-danger">- ${{ cartDiscount.amount }}</td>
                </tr>
                {% endfor %}
                <tr>
                    <td></td>
                    <td class="text-primary">Total</td>
                    <td class="text-primary">${{ view.cart.total }}.00</td>
                </tr>
            {% else %}
            <tr>
                <td colspan="3">Your cart is empty</td>
            </tr>
            {% endif %}
        </table>

        <small class="d-block text-right mt-3">
            <a type="button" class="btn btn-info" href="/">Empty your cart</a>
        </small>

    </div>

{% include 'footer.html' %}

</div>
</body>
</html>
